# Environment variables
.env
*.env

# Secrets
helm/ticketing/secrets.yaml
**/secrets.yaml

# Generated Helm output
helm/ticketing/rendered.yaml
rendered.yaml

# Logs
logs.txt
*.log

# Python cache
__pycache__/
*.pyc
*.pyo

# Git
.DS_Store
